html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
}

body:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-size: 400px 300px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.2;
}

body:hover:after {
  opacity: 1;
  z-index: 10;
}

body.ex1:after {
  background-image: url("images/1.png");
}

body.ex2:after {
  background-image: url("images/2.png");
}

body.ex3:after {
  background-image: url("images/3.png");
}

body.ex4:after {
  background-image: url("images/4.png");
}

body.ci:after {
  content: none;
}

body.ci img {
  display: none;
}
